.british-joy {
  display: none;
  padding-top: 58px;
  padding-bottom: 10px;

  .container {
    .clearfix();
  }
  &__img-wrapper {
    float: left;
    margin-right: 40px;
    img {
      width: 263px;
      @media (min-width:@screen-lg-min) {
        width: 300px;
      }
    }
     @media (min-width:@screen-lg-min) {
        margin-right: 66px;
      }
  }
  &__content {
    float: right;
    width: 310px;
    @media (min-width:@screen-lg-min) {
        float: none;
        width: auto;
        padding-top: 100px;

      }
  }
  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  &__text,
  &__link {
    @media (min-width:@screen-lg-min) {
      font-size: 18px;
    }
  }
  &__link {
    color: @red;
    text-decoration: underline;
  }
  @media (min-width:@screen-md-min) {
    display: block;
  }
  @media (min-width:@screen-lg-min) {
    background-color: @gray-light;
    padding-bottom: 68px;
  }
}
