.contacts {
  text-align: center;
  padding-top: 44px;

  &__banner {
    &:extend(.banner all);
    color: @blue-dark;
  }

  &__list {

    &-3 {
      padding-bottom: 20px;
    }
  }

  &__caption {
    .h2();
  }

  &__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    color: @red;
  }
  &__mail {
    .a-btn();
    color: @red;
    &:hover,
    &:focus{
      color: @blue-text;
    }
    &:active {
      color: @gray-ctrl;
    }

  }

}

@media (min-width:@screen-md-min) {
  .contacts{
    font-size: 0;

    &__banner {
      margin-bottom: 40px;
    }
    &__list {
        &-1,
        &-2 {
          width: 50%;
          display: inline-block;
          vertical-align: top;
        }

    }

    &__text {
      margin-bottom: 40px;
    }
  }

}

@media (min-width:@screen-lg-min) {
  .contacts{

    &__list {
        &-1,
        &-2,
        &-3 {
          width: 30%;
          display: inline-block;
        }

    }

  }

}
