.contacts {
  text-align: center;
  padding-top: 44px;

  @media (min-width:@screen-md-min) {
      font-size: 0;
    }
  &__banner {
    &:extend(.banner all);
    color: @blue-dark;

    @media (min-width:@screen-md-min) {
      margin-bottom: 40px;
    }
    @media (min-width:@screen-lg-min) {

    }
  }
  &__list {
    @media (min-width:@screen-md-min) {
      &-1,
      &-2 {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }
    }
    @media (min-width:@screen-lg-min) {
      &-1,
      &-2,
      &-3 {
        width: 30%;
        display: inline-block;
      }
    }
    &-3 {
      padding-bottom: 20px;
    }
  }

  &__caption {
    .h2();
    @media (min-width:@screen-md-min) {

    }
    @media (min-width:@screen-lg-min) {

    }

  }

  &__text {
    font-size: 24px;
    line-height: 30px;
    color: @red;
    margin-bottom: 20px;
    @media (min-width:@screen-md-min) {
      margin-bottom: 40px;
    }
    @media (min-width:@screen-lg-min) {

    }


  }
}
