.main-nav {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, .3);

  &__toggle {
      background: none;
      border: none;
      font: 0/0 a;
      display: block;
      width: 50px;
      height: 50px;
      padding: 0;

      position: relative;
      float: right;
      right: 20px;
      // .navbar-vertical-align(50px)
      // position: absolute;
      // top: 5px;
      // right: 20px;

      &:focus {
        outline: none;
      }
  }

  &__icon-toggle {
    position: absolute;
    top: 25px;
    right: 0;
    // top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition:width 200ms ease-in-out, background .2s;

    &:before,
    &:after {
      content: '';
      display: block;
      transform: rotate(0deg);
    }
    &,
    &:before,
    &:after {
      display: block;
      position: absolute;
      width: 50px;
      height: 4px;
      background-color: #fff;
    }
    &:before {
      top: -10px;
      transition: all .2s;
      transition-delay:.4s;
    }
    &:after {
      top: 10px;
      transition: all .2s;
      transition-delay:.4s;
    }

  }

  &__list {
    .list-unstyled();
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0px;
    z-index: -1;
    transition: max-height .4s;

    li, a {
      display: block;
    }
    li > a {
      .a-btn();
      display: block;
      // padding: 16px;
      color: #fff;
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      line-height: 62px;
      height: 62px;
      font-weight: 700;
    }
    li:first-child {
      box-shadow: 0px -1px 0px #000;
    }
    li {
      background-color: @blue-text;
      border-style: solid;
      border-color: transparent;
      border-width: 1px 0 1px;
      border-top-color:  lighten(@blue-text, 17%);
      border-bottom-color: #000;

    }
  }

}

@media (min-width:@screen-md-min) {
.main-nav {
  &__container {
      .container();
    }
    &__toggle {
      margin-top:27px;
    }
  }

}

@media (min-width:@screen-lg-min) {
  .main-nav {
    &__list {
      position: static;
      display: inline-block;
      overflow: visible;
      max-height:inherit;
      float: right;
      padding-top: 24px;
      li {
        float: left;
        width: auto;
        border: 0px;
        margin-right: 68px;
        background-color: transparent;
        &:first-child{
          box-shadow: none;
        }
        a {
          font-size: 18px;
          line-height: 35px;
          font-weight: 400;
          padding: 12px 0 10px;
          // border-style: solid;
          // border-width: 0 0 2px 0;
          // border-color: transparent;

          background-color: transparent;
          &:after {
            content: '';
            display: block;
            margin-top: 10px;
            width: 0%;
            height: 2px;
            background-color: #fff;
            transition:width 200ms ease-in-out;
          }
          &:hover,
          &.active,
          &:focus {
            // border-fit: clip;
            // border-color: #fff;
            &:after {
              width: 100%;
            }
          }
          &:active {
            opacity:.3;
            &:after {
              width: 0;

            }
          }
        }

      }
    }
    &__icon-toggle {
      display: none;
    }
  }

}
.menu-opened {
  z-index: 10;
  .logo {
      border-bottom-color: #000;
  }
  .main-nav {
    background-color: @blue-text;

    &__list {
      max-height: 500px;
    }
    &__toggle {
      // top: 10px;
    }
    &__icon-toggle {
      right: 0;
      background: 0 0;
      width: 30px;
      transition-delay:.0s;

      &:before,
      &:after {
        top: 0;
        width: 30px;
      }
      &:before {
        transform:rotate(-45deg);
      }
      &:after {
        transform:rotate(45deg);
      }
    }
  }
}
