.page-bottom {
  display: none;

  &__logo {
    a {
      font-size: 0;
    }
  }
  &__socials {

  }
  &__info {

  }
  &__socials a,
  &__info a{
    font:0/0 a;
  }


}
@media (min-width:@screen-md-min) {
  .page-bottom {
    display: block;
  }

}
@media (min-width:@screen-lg-min) {
  .page-bottom {

  }

}
