
.page-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(29, 38, 49, .3);

  .logo {
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    // border-style: solid;
    // border-width: 1px 0 1px;
    // border-bottom-color: transparent;

    a {
      color: #fff;
      padding: 10px 0;
      display: inline-block;
        &,
        &:hover
        &:focus {
          text-decoration: none;
        }
      @media (min-width:@screen-md-min) {
        padding: 33px 0;
      }
      @media (min-width:@screen-lg-min) {

      }
    }
  }

}
