body {
	margin: 0;
	padding: 0;
	background-color: #f9f;
}

@media (min-width: 960px) {

.elem {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.elem2 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

}

