.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.container() {
  .clearfix();
  margin: auto;
  position: relative;

  padding: 0 20px;

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
    padding: 0 10px;
  }
  // @media (min-width:@screen-md-min) {
  //   width: 700px;
  // }
  // @media (min-width:@screen-lg-min) {
  //   width: 980px;
  //   padding: 0 10px;
  // }
}

.navbar-vertical-align(@element-height) {
  margin-top: ((@navbar-height - @element-height) / 2);
  margin-bottom: ((@navbar-height - @element-height) / 2);
}
.footer-vertical-align(@elem-h, @foo-h) {
  padding-top: ((@foo-h - @elem-h) / 2);
  padding-bottom: ((@foo-h - @elem-h) / 2);
}
.triangle-after() {
  &:after {
      &:extend(.triangle-gray:before all);
      content: " ";
      display: block;
      height: 36px;
      background-image: linear-gradient(to bottom right, transparent 50%, @gray-light 50%);
      // background-image: url('_svg/triangle-gray.svg');
    }

}
.triangle-white(){
  position: relative;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    z-index:100;
    bottom: -36px;
    height: 36px;
    width: 50%;
    background-repeat: no-repeat;
  }

  &:before {
    left:0;
    background-image: linear-gradient(to top right, transparent 50%, #fff 50%);
  }
  &:after {
    right:0;
    background-image: linear-gradient(to top left, transparent 50%, #fff 50%);
  }
}
.col3() {
  float: left;
  width: 300px;


}
.col3--center() {
  margin: 0 20px;
}

